<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>

    <div>
      <div>

        <div>

          <div>

            <p class="card-text">Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">{{user.email}}</a>
          </div>
        </div>
        <div>
          <div>

            <form action="/post/create" method="POST">
              <input type="tex" id="id" name="id" value={{user.id_u}} />
              <input type="text" id="message" name="message" />
              <button type="submit">Login</button>
            </form>
          </div>

        </div>
        {{#if result}}
          <h4>{{result}}</h4>
        {{/if}}
        <div class="col-8">
          <div class="card text-center">
            <div class="card-header">
              Profile Page
            </div>
            <div class="card-body">

              <div class="searchResultItem col-sm-9 col-xs-12">
                {{#each info}}
                  <span>{{this.name}}</span>
                  <p>{{this.post}}</p>

                {{/each}}

              </div>
              <h5 class="card-title">Hey welcome back</h5>
              <p class="card-text">This is your profile page where you can add
                all the information about yourself</p>
              <a href="#" class="btn btn-primary">Go Somewhere</a>
            </div>
            <div class="card-footer text-muted">
              Node MySQL - Project
            </div>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>